<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djangoweb.css" media="screen" />
<div id="container">
	<div id="header">
		<h1>
			Alon Goren
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">Home</a></li>	
			<li><a href="publications/">Publications</a></li>
			<li><a href="resources/">Resources</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>
			About me </h2>
		<p>
		  <table>
		  <tr>
		  <td>
		  <img src="{{ STATIC_URL }}Alon-Israel-2013.jpg"
		       align="left", height=350 >
		  </td>
		  <td valign="top">
<p>
<font size="4">My research focuses on epigenomic mechanisms, and merges basic biology, technological innovations and computational analyses. My major interest is in <b>developmental-epigenomic</b> questions – explorations of chromatin regulatory networks during mouse early embryogenesis.
</p>
<p>
I am building a group at the Broad Technology Labs (<a href="http://bit.ly/1oGwxZO">BTL</a>) — the department of <a href="https://www.broadinstitute.org/">The Broad Institute of Harvard and MIT</a> for promoting biotechnological innovations. Driven by the complex nature of developmental-epigenomic questions — e.g., the minimal number of cells in each embryo, dynamic cellular fate-decisions, or the organization of chromatin regulators (<a href="http://www.broadinstitute.org/software/crome/home">CRs</a>) — my group will establish and apply high sensitivity and high-throughput techniques for systematic studies of genome-wide chromatin organization. My goal is to leverage these innovations to enable my group as well as the broader scientific community to study chromatin in uncharted settings.
</p>
<p>
I firmly believe that communicating and disseminating of knowledge is a major component of science, and I am involved in mentoring students, presentations of webinars (e.g. <a href="http://bit.ly/189tG2I">Chromatin/ChIP-seq</a>), outreach programs and workshops (e.g. <a href="http://www.broadinstitute.org/~agoren/2014-BroadE/BroadE-2014_Epigenomics.pdf">2014-BroadE</a>).
</p>
<p>
 <b>I am looking for motivated postdoctoral applicants to join my group, and for a joint postdoc position (Israel-Broad Institute) between my and Simon Lab, as detailed <a href="http://bit.ly/1l6lXsm">here</a>. </b>
</font>
</p>
<p>
<font size="4">
Contact: agoren AT broadinstitute DOT org
<br>
Twitter: alon_goren
</font>
</p>
		</td>
                </tr>
                </table>
	</div>
	<div id="footer">
		<a href="https://github.com/mgymrek/django-personal-website">Website design</a> Copyright © Melissa Gymrek, 2013
	</div>
</div>
